/*-- scss:defaults --*/

$mermaid-fg-color--lightest:#FFFFFF;

@font-face {
  font-family: 'Raleway';
  src: url('../../../../../assets/raleway.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/*-- scss:rules --*/

@mixin background-full {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.reveal {
  font-family: 'Raleway', sans-serif;
}
  
.title-slide {
  text-align: left;

  &:is(.slide-background) {
    background-image: url('../../../../../assets/cover.svg');
    @include background-full;
  }

  h2 {
    color: white !important;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 6.5rem;
  }

  p {
    color: white !important;
    font-weight: 400;
  }

  .quarto-title-authors {
    justify-content: left;
  }
}

.slide h2 {
  font-family: 'Raleway', sans-serif;
  color: #1300ED
}

.thanks-slide {
  h2 {
    font-weight: 700;
    font-size: 8rem;
  }

  &:is(.slide-background) {
    background-image: url('../../../../../assets/thanks.png');
    @include background-full;
  }
}